{% extends "dashboard/base_dashboard.html" %}
{% block title %}Notification List - {{ block.super }} {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Notification List</h1>
        <hr>
        <div class="row justify-content-center">
            {% if notifications.exists %}
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    {% for notification in notifications %}
                        {% if not notification.read %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% if notification.link.exits %}
                                        <a href="{{ notification.link }}">>{{ notification.message }}</a>
                                    {% else %}
                                        <a href="#">>{{ notification.message }}</a>
                                    {% endif %}
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <p class="text-center">No notifications Found</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}